---
layout: default
title: "the Carboy | Fermenting the funk since before the pandemic"
---

<header class="p-4 border-b border-gray-500 bg-zinc-100">
  <img src="/assets/images/carboy_logo.svg" alt="Band Logo" class="w-64 mx-auto md:w-96">
</header>

<!-- Tour Dates -->
<main class="max-w-xl mx-auto mt-4">
  <section>
    <h2 class="mb-2 text-2xl font-light text-center underline text">SHOWS</h2>
    <div class="grid gap-4">
      {% for show in site.data.shows %}
        {% include show_info.html date=show.date venue_name=show.venue_name venue_city=show.venue_city venue_url=show.venue_url google_url=show.google_url %}
      {% endfor %}
      <section class="space-y-4 text-center">
        <span>
          Booking: <a href="mailto:carboyrocks@gmail.com" class="italic sm:text-xl hover:underline">carboyrocks@gmail.com</a>
        </span>
      </section>

    </div>
    <h4 class="text-xl text-center">
      <br />
    </h4>
  </section>

  <section class="max-w-xl mx-auto">
    <blockquote class="mx-auto instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DXqEfokkeKy"
      data-instgrm-version="14" style="width:100%; max-width:540px;">
    </blockquote>

    <script async src="https://www.instagram.com/embed.js"></script>
  </section>
</main>

<!-- Footer -->
<footer class="p-6 mt-12 text-sm text-center text-gray-500 bg-white border-t border-gray-200">
  <p>&copy; 2026 Carboy</p>
</footer>
