---
layout: default
title: "the Carboy | Song list"
---

<header class="p-4 border-b border-gray-500 bg-zinc-100">
  <img src="/assets/images/carboy_logo.svg" alt="Band Logo" class="w-64 mx-auto md:w-96">
</header>

<!-- Tour Dates -->
<main class="max-w-xl mx-auto mt-4">

  <div class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Song Resources</h1>
    <div class="space-y-4">
      {% for song in site.data.songs %}
        {% include song_info.html title=song.title song_key=song.song_key recording_url=song.recording_url lead_sheet=song.lead_sheet b_flat_chart=song.b_flat_chart e_flat_chart=song.e_flat_chart trombone_chart=song.trombone_chart %}
      {% endfor %}
    </div>
  </div>
</main>
