@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: black;
}

.logo-font {
  font-family: 'Bungee Shade', cursive;
}

.Hero {
  background-image: url('../images/hero.jpg');
}
